.cartIcon {
    margin-right: 1px;
    width: 40px;
    display: block;
    background: #d42020;
    padding: 2px 5px 0px 9px;
    font-size: 20px;
    border-bottom: 3px solid;
    border-color: #860109;
    color: white;
    cursor: pointer;
}