/* ================= H1 (36px final) ================= */
.h1-secondary,
.h1-secondary-medium {
  font-size: 20px; /* mobile */
  font-weight: 500;
}
.h1-secondary {
  color: #d9d9d9;
}
.h1-secondary-medium {
  color: #4a4a4a;
}

@media (min-width: 640px) {
  .h1-secondary,
  .h1-secondary-medium {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .h1-secondary,
  .h1-secondary-medium {
    font-size: 28px;
  }
}
@media (min-width: 1280px) {
  .h1-secondary,
  .h1-secondary-medium {
    font-size: 32px;
  }
}
@media (min-width: 1440px) {
  .h1-secondary,
  .h1-secondary-medium {
    font-size: 36px;
  }
}

/* ================= H2 (32px final) ================= */
.h2-secondary,
.h2-medium,
.h2-bold {
  font-size: 18px;
}

.h2-secondary {
  font-weight: 600;
  color: #4a4a4a;
}

.h2-bold {
  font-weight: 700;
  color: #4a4a4a;
}

.h2-medium {
  font-weight: 500;
  color: #4a4a4a;
}

@media (min-width: 640px) {
  .h2-secondary,
  .h2-medium,
  .h2-bold {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .h2-secondary,
  .h2-medium,
  .h2-bold {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .h2-secondary,
  .h2-medium,
  .h2-bold {
    font-size: 24px;
  }
}
@media (min-width: 1440px) {
  .h2-secondary,
  .h2-medium,
  .h2-bold {
    font-size: 32px;
  }
}

/* ================= H3 (24px final) ================= */
.h3-secondary,
.h3-regular {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.75%;
}
.h3-secondary {
  font-weight: 500;
  color: #4a4a4a;
}
.h3-regular {
  font-weight: 400;
  color: #4a4a4a;
}

@media (min-width: 640px) {
  .h3-secondary,
  .h3-regular {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .h3-secondary,
  .h3-regular {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  .h3-secondary,
  .h3-regular {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .h3-secondary,
  .h3-regular {
    font-size: 24px;
  }
}

/* ================= H4 (22px final) ================= */
.h4-bold,
.h4-medium,
.h4-regular {
  font-size: 14px;
  color: #666666;
}
.h4-bold {
  font-weight: 700;
}
.h4-medium {
  font-weight: 500;
}
.h4-regular {
  font-weight: 400;
}

@media (min-width: 640px) {
  .h4-bold,
  .h4-medium,
  .h4-regular {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .h4-bold,
  .h4-medium,
  .h4-regular {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .h4-bold,
  .h4-medium,
  .h4-regular {
    font-size: 16.5px;
  }
}
@media (min-width: 1440px) {
  .h4-bold,
  .h4-medium,
  .h4-regular {
    font-size: 22px;
    line-height: 32px;
  }
}

/* ================= H5 (20px final) ================= */
.h5-bold,
.h5-medium,
.h5-regular,
.h5-medium-20px-medium,
.h5-20px-regular {
  font-size: 14px;
  line-height: 20px;
}
.h5-bold {
  font-weight: 600;
  color: #4a4a4a;
}
.h5-medium {
  font-weight: 500;
  color: #4a4a4a;
}
.h5-medium-20px-medium {
  font-weight: 500;
  color: #333333;
}
.h5-regular {
  font-weight: 400;
  color: #4a4a4a;
}
.h5-20px-regular {
  font-weight: 400;
  color: #666666;
}

@media (min-width: 640px) {
  .h5-bold,
  .h5-medium,
  .h5-regular,
  .h5-medium-20px-medium,
  .h5-20px-regular {
    font-size: 15px;
  }
}
@media (min-width: 1024px) {
  .h5-bold,
  .h5-medium,
  .h5-regular,
  .h5-medium-20px-medium,
  .h5-20px-regular {
    font-size: 15px;
  }
}
@media (min-width: 1280px) {
  .h5-bold,
  .h5-medium,
  .h5-regular,
  .h5-medium-20px-medium,
  .h5-20px-regular {
    font-size: 15px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .h5-bold,
  .h5-medium,
  .h5-regular,
  .h5-medium-20px-medium,
  .h5-20px-regular {
    font-size: 20px;
    line-height: 26px;
  }
}

/* ================= H6 (18px final) ================= */
.h6-bold,
.h6-medium,
.h6-medium-color,
.h6-regular,
.h6-18-px-medium,
.h6-18-px-regular {
  font-size: 12px;
}
.h6-bold {
  font-weight: 700;
  color: #f15939;
}
.h6-medium {
  font-weight: 500;
  color: #f15939;
}
.h6-medium-color {
  font-weight: 500;
  color: #4a4a4a;
}
.h6-regular {
  font-weight: 400;
  color: #f15939;
}
.h6-18-px-medium {
  font-weight: 500;
  color: #333333;
}
.h6-18-px-regular {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.14px;
  color: #545454;
}

@media (min-width: 640px) {
  .h6-bold,
  .h6-medium,
  .h6-medium-color,
  .h6-regular,
  .h6-18-px-medium,
  .h6-18-px-regular {
    font-size: 13.5px;
  }
}
@media (min-width: 1024px) {
  .h6-bold,
  .h6-medium,
  .h6-medium-color,
  .h6-regular,
  .h6-18-px-medium,
  .h6-18-px-regular {
    font-size: 13.5px;
  }
}
@media (min-width: 1280px) {
  .h6-bold,
  .h6-medium,
  .h6-medium-color,
  .h6-regular,
  .h6-18-px-medium,
  .h6-18-px-regular {
    font-size: 13.5px;
  }
}
@media (min-width: 1440px) {
  .h6-bold,
  .h6-medium,
  .h6-medium-color,
  .h6-regular,
  .h6-18-px-medium,
  .h6-18-px-regular {
    font-size: 18px;
  }
}

/* ================= H7 (16px final) ================= */
.h7-regular,
.h7-16-px-regular {
  font-size: 12px;
  font-weight: 400;
}
.h7-regular {
  color: #4a4a4a;
}
.h7-16-px-regular {
  color: #666666;
}

@media (min-width: 640px) {
  .h7-regular,
  .h7-16-px-regular {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .h7-regular,
  .h7-16-px-regular {
    font-size: 12px;
  }
}
@media (min-width: 1280px) {
  .h7-regular,
  .h7-16-px-regular {
    font-size: 13.5px;
  }
}

/* BLOG ELEMENTS STYLING */

/* Headings */

.blog-content-wrapper h5 {
  @apply h5-medium mb-2 !important;
}
.blog-content-wrapper h6 {
  @apply h6-medium mb-2 !important;
}
.blog-content-wrapper p {
  @apply h3-regular mb-4 !important;
}
.blog-content-wrapper img {
  @apply object-contain rounded-md my-6 w-full !important;
  max-height: 554px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.blog-content-wrapper table {
  @apply w-full border-collapse border border-gray-200 mb-6 !important;
}
.blog-content-wrapper th {
  @apply border border-gray-200 bg-gray-50 py-2 px-4 text-left !important;
}
.blog-content-wrapper td {
  @apply border border-gray-200 py-2 px-4 !important;
}
